<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shi.dao.CourseMapper">

    <select id="getCourse" resultMap="CourseStudent">
        select c.id cid,c.name cname,sc.sno sno,sc.cno cno,sc.grade grade
        from students s,sc,course c
        where sc.cno=c.id and sc.sno=s.id and c.id=#{cid}
    </select>
    <resultMap id="CourseStudent" type="Course">
        <result property="name" column="cname"/>
        <result property="id" column="cid"/>
        <collection property="scs" ofType="Sc">
            <result property="sno" column="sno"/>
            <result property="cno" column="cno"/>
            <result property="grade" column="grade"/>
        </collection>

    </resultMap>

</mapper>