<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shi.address.dao.PeopleMapper">

    <select id="getAllPeople" resultType="people">
        select *
        from ao.people
        where uid=#{uid};
    </select>

    <select id="getSort" resultType="people">
        select distinct sort
        from ao.people;
    </select>

    <insert id="addPeople" parameterType="people">
        insert into ao.people (name, department, address, email, sex, telephone, iphone, unit, uid, sort)
        values (#{name},#{department},#{address},#{email},#{sex},#{telephone},#{iphone},#{unit},#{uid},#{sort});
    </insert>

    <delete id="deletePeople" parameterType="people">
        delete from ao.people where id=#{id}
    </delete>

    <select id="getPeopleById" resultType="people">
        select *
        from ao.people
        where id=#{id};
    </select>

    <update id="revisePeople" parameterType="people">
        update ao.people
        set name = #{name}, department = #{department}, address = #{address}, email = #{email}, sex = #{sex}, telephone = #{telephone}, iphone = #{iphone}, unit = #{unit}, sort = #{sort}
        where id = #{id};
    </update>

    <select id="getSomePeople" parameterType="map" resultType="people">
        select * from ao.people
        <where>
<!--            <if test="id != 0">-->
<!--                `id`=#{id} and-->
<!--            </if>-->
            <if test="name!=null and name!=''">
                `name`=#{people.name} and
            </if>
            <if test="unit != null and unit != ''">
                `unit`=#{people.unit} and
            </if>
            <if test="department!=null and department!=''">
                `department`=#{people.department} and
            </if>
            <if test="sex!=null and sex!=''">
                `sex`=#{people.sex} and
            </if>
            <if test="email!=null and email!=''">
                `email`=#{people.email} and
            </if>
            <if test="address!=null and address!=''">
                `address`=#{people.address} and
            </if>
            <if test="telephone!=null and telephone!=''">
                `telephone`=#{people.telephone} and
            </if>
            <if test="iphone!=null and iphone!=''">
                `iphone`=#{people.iphone} and
            </if>
            <if test="sort!=null and sort!=''">
                `sort`=#{people.sort} and
            </if>
<!--            <if test="uid!=0">-->
<!--                `uid`=#{uid} and-->
<!--            </if>-->
        </where>
        limit #{pageStartIndex},#{pagePageSize}
    </select>

    <select id="getAllCount" resultType="int">
        select count(id)
        from ao.people;
    </select>
    
    <select id="getCurrentPagePeople" resultType="people">
        select *
        from ao.people limit #{pageStartIndex},#{pagePageSize};
    </select>

</mapper>